/* Styles for pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #007185;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .products-per-page-control {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .products-per-page-control select {
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  